    <div class="text-center">
        <p>
            <a href="https://consultadd.com/about-us/">About Us</a>
        </p>
        <p>
            <a href="https://consultadd.com/it-training-services/">Consultadd Training</a>
        </p>
    </div>
</body>
</html>